.app-cont {
  width: 100vw;
  min-height: 100vh;
}

.app {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 4rem;
  align-items: start;
  margin: 3em 10em;
}

h1 {
  text-align: center;
  background-color: #2d2d34;
  color: #f6f4f4;
  font-family: 'Cherry Bomb One', cursive;
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
  white-space: nowrap;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.sidebar li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  align-items: center;
  column-gap: 1.6rem;

  padding: 1.2rem;
  border-radius: 7px;
  transition: 0.5s;
}

.selected,
.sidebar li:hover {
  background-color: var(--color-lightest);
}

.sidebar li img {
  border-radius: 50%;
  width: 100%;
  grid-row: span 2;
}

.sidebar li h3 {
  grid-row: 1;
  grid-column: 2;
}

.sidebar li p {
  grid-row: 2;
  grid-column: 2;
}

.sidebar li .button {
  grid-row: span 2;
  grid-column: 3;
}

.sidebar > .button {
  float: right;
  margin-right: 1.2rem;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 1.2rem 0;
  margin-bottom: 0.4rem;
}
